.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  #header {
    text-align: center;
    margin-top: 30px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
  }

  #trump {
    width: 45%;
  }

  #biden {
    width: 45%;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }

  #footer {
    text-align: center;
    margin-top: 50px;
  }

  #input-container {
    margin: 50px;
    text-align: center;
  }

  input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
  }

  input[type=button] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  input[type=button]:hover {
    background-color: #45a049;
  }