body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

#trump {
  width: 45%;
}

#biden {
  width: 45%;
}

.DonaldTrump{
  clip-path: circle();
}

.JoeBiden{
  clip-path: circle();
}

img {
  width: 100%;
  height: auto;
  
}

#footer {
  text-align: center;
  margin-top: 50px;
}